<table class=" table table-dark  table-bordered border-red">
    <tr>
        <th class="text-center">Nome</th>
        <th class="text-center">Cognome</th>
        <th class="text-center">Codice Fiscale</th>
        <th class="text-center">Email</th>
        <th class="text-center">Telefono</th>
        <th class="text-center">Provincia</th>
        <th class="text-center">Age</th>
        <th class="text-center">Action</th>

    </tr>
    <tr app-user  *ngFor="let user of users" [user-data]="user"
      (onDeleteUser)="onDeleteUser($event)" (onSelectUser)="onSelectUser($event)"
       >
        <!--(onSelectUser)="onSelectUser($event)"-->
    </tr>
</table>