<!-- {{ f.form.value | json}}-->
<form class="userForm" #f="ngForm">
    <input type="hidden" name="id" [(ngModel)]="this.user.id">
    <div class="form-group">
        <label for="firstname" >First Name </label>
        <input  class="form-control" [(ngModel)]="this.user.name" name="firstname" id="firstname">
    </div>
    <div class="form-group">
        <label for="lastname" >Last Name</label>
        <input class="form-control" [(ngModel)]="this.user.lastname" name="lastname" id="lastname">
    </div>
    <div class="form-group">
        <label for="fiscalcode" >Fiscalcode </label>
        <input class="form-control" [(ngModel)]="this.user.fiscalcode" name="fiscalcode" id="fiscalcode">
    </div>
    <div class="form-group">
        <label for="email" >Email</label><br>
        <input class="form-control" [(ngModel)]="this.user.email" type="email" name="email" id="email">
    </div>
    <div class="form-group">
        <label for="phone" >Phone</label><br>
        <input class="form-control" [(ngModel)]="this.user.phone" name="phone" id="phone">
    </div>
    <div class="form-group">
        <label for="province" >Province </label><br>
        <input class="form-control" [(ngModel)]="this.user.province" name="province" id="province">
    </div>
    <div class="form-group">
        <label for="age" >Age</label><br>
        <input class="form-control" [(ngModel)]="this.user.age" type="number" name="age" id="age">
    </div>
    <div class=" row form-footer" >
        <div class="col-sm-4">
        <button class="btn btn-primary w-75" (click)="backToUser()" > 
            <fa-icon id="faArrowAltCircleLeft" [icon]="faArrowAltCircleLeft"></fa-icon>
        </button>
    </div>
        <div class="col-sm-4">
        <button  class="btn btn-secondary w-75" (click)="resetFrom(f.form)" >
            <fa-icon id="faUndoAlt" [icon]="faUndoAlt"></fa-icon>
        </button>
    </div>
        <div class="col-sm-4">
        <button  class="btn btn-success w-75" (click) = "saveUser()" >
            <fa-icon id="faEdit" [icon]="faEdit"></fa-icon>
        </button>
    </div>
</div>
</form>
