/* You can add global styles to this file, and also import other style files */
.main{
    width: 98%;
    margin: auto;
    vertical-align: top;
}

.users{
 float: left;
 width: 75%;
}
.userDetail{
    float: left;
}
.btn-reset{
    background-color: blue;
    color: #fff;
    font-weight: bold;
    padding: 5px;
     width: 80px;
}
.btn-aggUser{
    background-color: blue;
    color: #fff;
    font-weight: bold;
    padding: 5px;
     width: 80px;
     margin-left:70px;
}
.btn-save{
    background-color: green;
    color: #fff;
    font-weight: bold;
    padding: 5px;
     width: 80px;
}
.form-footer{
    text-align: center;
    padding: 10px;
}
.form-group{
    padding: 10px;
    border: 1px solid #c0c0c0;
    margin-bottom: 10px;
}
.form-group label{
    display: inline-block;
}